<!DOCTYPE html>
<html>

<!-- import bootstrap --> 
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
 <div><h1 class="logo"><a href="/fr/accueil.html" title="Accueil"><img 
src="images/logo-villers.png" 
alt="Logo Mairie de Villers-lès-Nancy"></a></h1></div>
<div>
</div>
</head>
</hmlt>
