<!DOCTYPE html>
<html>

<!-- import bootstrap --> 
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
<meta charset="UTF-8" /> 
<title>Demande de logement social</title>
</head>
    <body>
       <div><img src="images/logo-villers.png" alt="Logo Mairie de Villers-lès-Nancy">
</div>

    </body>


</hmlt>
