{# src/PIBundle/Ressource/views/Formulaire/accueil.html.twig #}

<!-- 
  @Auteurs: Paul Le Noac'h, Komel Jamal, Brian Blessou
  @Mail: brian.blessou@telecomnancy.net
  @Version: HTML5 & Twig

  Cette page permet d'afficher les informations de la page d'accueil.
-->

{% extends "PIBundle:Formulaire:layout_formulaire.html.twig" %}

{% block Accueil %}Accueil{% endblock %}



{% block body %}

<div class="coin" width="530" >

  <p>
  </p>
  <div class="info">
    <h1>Le parc HLM à Villers-Lès-Nancy</h1>
    <p>
      Il existe un formulaire unique de demande de logement mais pas de dossier partagé par l’ensemble des bailleurs. Après l’enregistrement de votre dossier par un bailleur, vous sera attribué un n° unique commun à tous les bailleurs. Les pièces justificatives nécessaires au passage en commission d’attribution doivent être déposées auprès de chaque bailleur.
    </p>
  </div>
  <div class="info">

    <p>
     Il est également possible de déposer sa demande de logement social sur le site www.demande-logement-social.gouv.fr. 
     Une demande déposée sur ce site doit être accompagnée de la copie électronique d’une pièce d’identité (carte d’identité ou passeport) ou d’un titre de séjour attestant de la régularité du séjour sur le territoire français. Après vérification de la pièce d’identité ou du titre de séjour, votre demande sera validée dans un délai de 48 à 72h. Vous recevrez alors, par courrier électronique, un récépissé attestant de l’enregistrement de la demande et comportant le numéro unique d’enregistrement. Ce numéro atteste de l’ancienneté de votre demande. Attention, tant que vous n’avez pas reçu le récépissé sur lequel figure le numéro unique d’enregistrement, cela signifie que votre demande n’est pas prise en compte. Une fois le récépissé reçu veillez à le conserver précieusement. 
     Le service solidarité logement de la Ville de Villers-lès-Nancy peut vous aider dans ces démarches.

     <span class="glyphicon glyphicon-earphone" aria-hidden="true">  03 83 92 12 18</span>
   </p>
 </div>

 <div class="info">

  <p>
    Parallèlement à cette formalité, vous êtes invité à informer la ville de Villers-lès-Nancy de votre recherche de logement. En effet, le Maire (ou son représentant) siège au sein des commissions d’attribution de logement des bailleurs sociaux. Pour faciliter l’enregistrement de cette information et sa mise à jour, vous êtes invité à utiliser cette plate forme en ligne.
  </p>
</div>

</div>

{% endblock %}









