{# app/Resources/views/Emails/registration.html.twig 


  @Auteurs: Paul Le Noac'h, Komel Jamal, Brian Blessou
  @Mail: brian.blessou@telecomnancy.net
  @Version: HTML5 & Twig

#}

<h3>Nouvelle demande de logement social en ligne: http://villersenligne/admin/dashboard</h3>

{# example, assuming you have a route named "login" #}
